body {
    background: linear-gradient(to right, #43cea2, #185a9d);
    font-family: Arial;
}
.box {
    background: white;
    width: 420px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 15px;
}
input, textarea {
    width: 100%;
    margin: 6px 0;
    padding: 8px;
}
button {
    background: #185a9d;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
}
